<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Araç Kiralama Simülasyonu </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div  *ngIf="isAuthenticated()">
          <app-board></app-board>
        </div>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cars/getall">Araç</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/brands/getall">Marka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/colors/getall">Renk</a>
          </li>
          <app-cart-summary></app-cart-summary>   
        </ul>

        <form class="d-flex">
          <div *ngIf="!isAuthenticated()" class="text-end" style="margin-left: 10px; margin-right: 10px;">
            <button routerLink="/login" type="button" class="btn btn-outline-primary me-2">Oturum Aç</button>
            <button routerLink="/register" type="button" class="btn btn-outline-warning">Kaydol</button>
          </div>
          <div *ngIf="isAuthenticated()" class="dropdown dropstart" style="margin-left: 10px; margin-right: 10px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{{ getCurrentUser().firstName }} {{ getCurrentUser().lastName }}</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()" style="background-color: rgba(112, 102, 102, 0.705);">Çıkış Yap</a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>
  